* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
	background: linear-gradient(to left, #8307a9, #33097c)
}

header {
	padding: 50px 15px 0px;
}

header h1 {
	color: #FFF;
	font-size: 48px;
	font-weight: 500;
	text-align: left;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 15px;
}

.searchbox {
	display: block;
  position: relative;
  left: 800px;
  bottom: 70px;
	width: 50%;
	padding: 20px;
  border: none;
	background: none;
  text-align: center;
	background-color: #EEE;
	border-radius: 20px;
  font-size: 20px;
	font-weight: 300;
	transition: 0.4s ease-out;
}

.searchbox:focus {
	box-shadow: 0px 0px 8px 3px;
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .result {
	width: 30%;
	min-width: 200px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	text-align: center;
}

.results .result img {
	display: block;
	width: 100%;
}

.results .result h3 {
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	padding: 8px;
	background: #4c0653;
	flex: 50%;
}

.results .result:hover h3 {
	background: #FFF;
	color: #a31da3;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #7d258c;

	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;

	color: #FFF;
}

.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}
.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .rating {
	margin-bottom: 30px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
}

.popup .content .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;
	color: rgb(165, 36, 172);
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	position: absolute;
	top: 600px;
	transition: 0.4s ease-out;
	right: 200px;
}

.popup .content .close:hover {
	background: #a11ba4;

}

.popup .half-rating {
	position: absolute;
	right: 100px;
}