* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
  }

body {
	font-family: 'Gilroy', sans-serif;
	background: linear-gradient(to right, #e821cd, rgb(218, 215, 30))
}

header {
	padding: 50px 15px 0px;
}

header h1 {
	color: #FFF;
	font-size: 50px;
	font-weight: 500;
	text-align: left;
	font-family: 'Press Start 2P', cursive;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 15px;
}

.searchbox {
  display: block;
  position: relative;
  left: 550px;
  bottom: 60px;
  width: 50%;
  padding: 20px;
  border: none;
  background: none;
  text-align: center;
  background-color: #EEE;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.4s ease-out;
}

.searchbox:focus {
	box-shadow: 0px 0px 8px 3px;
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .result {
	width: 30%;
	min-width: 200px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	text-align: center;
}

.results .result img {
	display: block;
	width: 100%;
}

.results .result h3 {
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	padding: 8px;
	background: #4c0653;
	flex: 50%;
}

.results .result:hover h3 {
	background: #FFF;
	color: #a31da3;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #7d258c;
	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;
	color: #FFF;
}

.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}
.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .rating {
	margin-bottom: 30px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
}

.popup .content .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;
	color: rgb(165, 36, 172);
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	position: absolute;
	top: 600px;
	right: 200px;
	transition: 0.4s ease-out;

}

.popup .content .close:hover {
	background: #a11ba4;

}

.popup .content .half-rating {
	position: relative;
	right: 400px;
	bottom: 40px;
}


.main-container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.comment-flexbox{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.comment-text{
	margin: 12px 0;
	font-size: 1.15rem;
	font-weight: 600;
}

.input-box{
	height: 75px;
	width: 465px;
	background-color: #FFF;
}

.comment-button{
	height: 40px;
	width: 80px;
	background-color: white;
	color: #a31da3;;
	font-size: 1.05rem;
	margin-top: 10px;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
}

.comment-container{
	height: 75px;
	width: 465px;
	background-color: white;
	border-radius: 5px;
	margin: 10px 0;
	word-break: break-all;
}